.brandname{
  display:flex;
  flex-direction:row;
  margin-left:-10px ;
  text-decoration: none;
}

.brandname img{
  height: 12vh;
  width: 12vw;
}

#nav-bar-collapse{
  /* background-color: rgb(92, 124, 124); */
  text-align: center;
}



.brandname span{
  margin: 1.5vh 0 0 -4.5vw;
  font-family: yellowtail,cursive,regular ;
  font-size:1.5rem;
  padding: 10px 0 0 0 ;
  color: aliceblue;
}


@media only screen and (max-width : 320px)
{
  .togglebutton{
    /* height: 8vh ; */
    /* width: 10vw; */
    /* padding: 2vh 2vw; */
    /* text-align: center; */
    display: flex;
    justify-content: center;
    padding: 1vh 2vw;
  }
  
  .togglebutton span{
    height: 6vh ;
    width: 8vw;
  }

  .brandname span{
    margin: 1.5vh 0 0 -4.5vw;
  font-family: yellowtail,regular ;
  font-size:1rem;
  padding: 10px 0 0 0 ;
  color: aliceblue;
  }

  .brandname img{
    height: 10vh;
    width: 12vw;
  }
  
}